@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  overflow-x: hidden;
}

#container {
  height: calc(100vh - 60px);
}

.greeting1, .greeting2 {
  font-size: 4rem;
  font-weight: 600;
}

.greeting2 {
  opacity: 0;
}

.slogan {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #ccc;
}
.slogan::before {
  display: inline-block;
  width: 13px;
  height: 18px;
  content: url("../img/bulletpoint.svg");
}

@media (max-width: 768px) {
  .title-container {
    position: relative;
    line-height: 2.2rem;
  }
  .greeting1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .greeting2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .slogan {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4rem;
  }

}

@media (min-width: 992px) {
  .title-container {
    position: absolute;
    max-width: 60%;
    line-height: 6.3rem;
  }
}

@media (min-width: 1200px) {
  #container {
    height: 100vh;
  }

  .title-container {
    position: absolute;
    top: 20%;
    max-width: 60%;
    line-height: 6.3rem;
  }

  .greeting1 {
    font-size: 6.5rem;
    font-weight: 600;
  }

  .greeting2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.2rem;
  }
}

@media (min-width: 1920px) {

  #container {
    height: calc(100vh - 60px);
  }

  .title-container {
    position: absolute;
    top: 20%;
    max-width: 50%;
    line-height: 6.7rem;
  }

  .greeting1 {
    font-size: 6.5rem;
    font-weight: 600;
  }

  .greeting2 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4.7rem;
  }
}
